/*--- CSS Reset ---*/

*{
  padding:0;
  margin:0;
  /* border: 1px solid grey; */
}
.center{
  text-align:center;
}
body{
  font-family: Montserrat,sans-serif;
}



/*--- Banner ---*/

.index-header{
  background-image: url('Images/Website-Banner.png');
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  color:#ffffff;
}
h1{
  text-align:center;
  font-size:70px;
}

h2{
  font-size: 1.6rem;
  border: 2px solid #ffffff;
}
nav a{
  text-decoration: none;
  color:#ffffff;
  padding: 2% 5%;
  display:inline-block;
  font-size:1.2rem;
  transition: ease 0.5s;
}
nav a:hover{
        transform: scale(1.3);
}
/*--- Featured Dive ---*/
.featured-dive{
  color:#000000;
  text-align:center;
  padding: 1%;
  font-size:1.6rem;
}
.featured a{
  text-decoration: none;
  padding: 2% 5%;
  display:inline-block;
  font-size:1.2rem;
  transition: ease 0.5s;
}
.featured a:hover{
        transform: scale(1.3);
}

/*--- Form ---*/
input{
  width:100%;
}
textarea{
  width:100%;
}
