---
layout: default
---

<section class="grid">
  <div class:"col-4">
    <img src="{{page.image-1}}">
  </div>
  <div class:"col-8">
    <h2>{{page.location-name}}</h2>
    <h3> {{ page.date | date_to_long_string }} | By James Whittock</h3>
  </div>
</section>
<section>
  <p>{{page.intro}}</p>
<section>
  <img src="{{page.image-2}}">
</section>
<section>
  {{page.description}}
</section>
<section>
  <img src="{{page.image-3}}">
</section>
<section>
  <img src="{{page.image-4}}">
</section>
<section>
  <img src="{{page.image-5}}">
</section>
