---
layout: default
---

<section class="grid padded">
  <div class="col-4_sm-12">
    <img src="{{page.map-image}}">
  </div>
  <div class="col-8_sm-12">
    <h2>{{page.location-name}}</h2>
    <h3> {{ page.date | date_to_long_string }} | By James Whittock</h3>
    <p>{{page.intro}}</p>
  </div>
</section>

<section>
  <figure>
    <img src="{{ page.images[0].url }}" />
    <figcaption>{{ page.images[0].caption }}</figcaption>
  </figure>
</section>

<section>
  {{page.description}}
</section>

<section>
  {% for object in page.images offset:1 %}
  <figure class="location-img-section">
    <img src="{{ object.url }}" />
    <figcaption>{{ object.caption }}</figcaption>
  </figure>
  {% endfor %}
</section>

{% if page.video %}
  <iframe width="560" height="315" src="{{ page.video }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
{% endif %}
